<div class="form-a">
<%= form_with model:[ @rubigon,@act], local: true do |f| %>
  <div class="field">
    <%= f.label :choice, 'アクション' %><br />
    <%= f.text_area :choice, class: :form__text, id:'act' %>
  </div>
  <div class="field">
    <%= f.label :ans, '戻り値' %><br />
    <%= f.text_field :ans, id:'ans' %>
  </div>
  <div class="field">
    <%= f.submit '登録する',class: :form__btn %>
  </div>
<% end %>
</div>