<div class="edit-form">
  <div class="content-title">
    <div>
    <h2>えでぃっと</h2>
    </div>
    <div class="btn-loca">
    <%= link_to "削除する", rubigon_path(@rubigon.id), method: :DELETE, class: :form__btn %>
    </div>
  </div>
  
  <%= render partial: 'form_s' %>
  
  <%= render partial:'form_a' %>

  <div class="bottom-btn">
  <<<%= link_to '前ページへ戻る', new_rubigon_path %>>>  /  <<
  <%= link_to 'TOPへ戻る', root_path %>>>
  </div>
</div>