<div class="edit-form">
  <div>
  <h2>管理者ページ</h2>
  </div>
  <%= form_with model:@rubigon, local: true do |f| %>
    <div>
    <%= f.label :stage, 'ステージ No.' %><br />
    <%= f.text_field :stage, id:'stage' %>
    </div>
    <div>
    <%= f.label :enemy, '敵' %><br />
    <%= f.text_area :enemy, id:'enemy' %>
    </div>
    <div>
    <%= f.submit '追加する',class: :form__btn %>
    </div>
  <% end %>
    <div class="enemy-list">
    <% @rubigons.each do |rubigon| %>
    <p><input type="radio" name="enemy">
    <%= link_to"#{rubigon.stage}_#{rubigon.enemy}",edit_rubigon_path(rubigon.id) %></p>
    <% end %>
    <%= link_to '編集',edit_rubigon_path(:id) %> 
    </div>
</div>