<div class="frame">
  <div class="frame-s">
    <div class="enemy-frame">
      <%= image_tag @rubigon.image,class: 'enemy-image' %>
    </div>
    <div class="progress">
      <%= image_tag "/rubigon_images/gameover.svg", class: "gameover-image" %>
      <%= range_field(:progress, :discount, in: 1..7, value:"#{@rubigon.stage_no}") %>
      <%= image_tag "/rubigon_images/catle.svg", class: "catle-image" %>
    </div>
    <div class="top-link">
      <%= link_to image_tag("/rubigon_images/title.png", class: "title-image"),root_path %>
    </div>
  </div>
  <div class="choice-frame">
    <div class="show-font">
      <% if @rubigon.stage_no == 1 %>
        <%= "#{@rubigon.enemy}" %>
        <div class="choices">
          <%= link_to 'TOPへ戻る',root_path,class: "choice" %>
        </div>
      <% elsif @rubigon.stage_no == 7 %>
        <%= "#{@rubigon.enemy} CONGRATULATIONS! THANKS PLAYING!" %>
        <div class="choices">
          <%= link_to 'TOPへ戻る',root_path,class: "choice" %>
        </div>
      <% else %>
        <%= "#{@rubigon.enemy} が  あらわれた！!" %>
        <% @acts.each do |act| %>
        <div class="choices">
          <%= link_to "▶︎ #{act.choice}",rubigon_path(id: act.ans),class: "choice" %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>