<!DOCTYPE html>
<html>
  <head>
    <title>RubigonQuest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="background-image">
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © RUBIGON QUEST All rights reserved.</p>
    </footer>
    </div>
  </body>
</html>
